body {
  max-width: 1000px;
  margin: auto;
  background-color: #f0f0f0;
  font-family: sans-serif;
}

header {
  height: 3.5rem;
  padding: 0 5rem;
}

h2 {
  color: white;
  padding-top: 15px;
  margin-bottom: 0;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  header {
    width: 100%;
    padding: 0 1.5rem;
  }

  .end {
    padding-right: 0;
  }
}

.img-box {
  width: 100%;
}

.notes {
  margin-right: 17rem;
}

.marg-top-2 {
  margin-top: 2rem;
}

.color-purple {
  background-color: #562b81;
}

button {
  margin-top: 1rem;
  height: 1.75rem;
  width: 5rem;
  color: white;
  border: none;
  border-radius: 4px;
}

.pad-top-5 {
  padding-top: 5rem;
}

.marg-top-5 {
  margin-top: 5rem;
}

/* .marg-right-15 {
  margin-right: 15rem;
} */

label {
  font-size: x-large;
  font-weight: bold;
}

.end {
  justify-content: end;
  margin-bottom: 2rem;
}

input {
  width: 100%;
  height: 2rem;
  border: solid 1px;
  border-color: #b6b6b6;
  border-radius: 4px;
}

textarea {
  width: 100%;
  border: solid 1px;
  border-color: #b6b6b6;
  border-radius: 4px;
}
